<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>เพิ่มสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-input type="text" label="ชื่อสินค้า" [(ngModel)]="txtname"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type="number" label="ราคา"[(ngModel)]="txtprice"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="file"  accept="image/*" (change)="onFileChange($event)" label="ภาพสินค้า"></ion-input>
  </ion-item>

  <br>
    <ion-button expand="block" (click)="addproduct()">บันทึก</ion-button>
 
 
</ion-content>